#home{
    height: 500px;
    padding: 3px 60px;

}
#home::before{
    height:600px;
}
#home p{
    font-size: 13px;
}

/* service section */
#services{
    flex-direction: column;
}
/* clients section */
#client-section{
    height:auto;
}
#clients{
flex-wrap: wrap;
}
#clients img{
    width:66px;
    padding: 2px 6px;
    height: auto;
}
/* navigation */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;

}

/* utility class */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 26px;
    padding: 4px 8px;
}

/* contacts us section */
#contact-box form{
    width: 60%;
}